# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\webte2\webte2_2021\Z2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
