html {
    height:100%;
    font-size: 1.5rem;

}
body {
    position:absolute;
    min-height: 550px;
    min-width:800px;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: #db6400;
    color: white;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 10%;
    min-height: 50px;
    color: white;
    background-color: #16697a;
    padding: 0;
    margin: 0;

}
header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 10%;
    min-height: 50px;
    color: white;
    background-color: #16697a;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

}
h2{
    font-size: 1.6vw;
}




header{
    top:0;
    text-transform: uppercase;
}
footer{
    bottom:0;

}
div#data{
    position:absolute;
    top:12%;
    left:2%;
    font-size:30px;
    font-weight:bold;
}
div#ovladanie{
    position: absolute;
    top:15%;
    left:50%;
    text-align:center;
}
div#zoom{
    position: absolute;
    top:50%;
    left:86%;
    text-align:center;

}
div#sincos{
    position:absolute;
    top:-65px;
    right:0;
    display: inline-block;
    font-weight:bold;

}
input{
    right:0;
}
div#graf{
    position:relative;
    width:70%;
    height:50%;
    top:30%;
    left:15%;
    background-color: grey;
}
button {
    width: 100px;
    min-width: 100px;
    margin-left: -50px;
    text-align: center;
}

small{
    font-size: 15px;
    color: snow;
}




